@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  /*ユーザーが指定しているブラウザの文字サイズを正しく反映させる*/
}

body {
  color: #333333;
  background-color: #fffff9;
  font-family: "Kaisei Opti", serif;
  font-size: 16px;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #333333;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.title {
  margin-top: 100px;
  position: relative;
  padding-left: 40px;
  font-size: 48px;
  padding-top: 20px;
  margin-bottom: 50p;
}

.title span {
  position: relative;
  z-index: 0;
}

.title::before {
  /*英字テキスト*/
  content: attr(data-en);
  /*データ属性読み込み*/
  position: absolute;
  transform: rotate(-10deg);
  /*斜めに傾ける*/
  top: 0;
  left: 0;
  color: aqua;
  font-size: 60px;
  font-weight: 400;
  font-family: "Ephesis", cursive;
}

h3 {
  font-size: 24px;
  text-align: left;
  margin-top: 2rem;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.go-top img {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 70px;
  height: auto;
}

/*========= ページネーションCSS ===============*/
.pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  z-index: 10;
  list-style: none;
}

.pagination a {
  display: block;
  height: 20px;
  margin-bottom: 5px;
  color: #fff;
  position: relative;
  padding: 4px;
}

.pagination a.active:after {
  box-shadow: inset 0 0 0 5px;
}

/*現在地表示のテキストの設定*/
.pagination a .hover-text {
  position: absolute;
  right: 15px;
  top: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  padding-right: 15px;
}

.pagination a:hover .hover-text {
  opacity: 1;
}

.pagination a:after {
  transition: box-shadow 0.5s ease;
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid;
  border-radius: 50%;
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  right: 3px;
  bottom: 0;
}

/*768px以下は現在地表示のテキストを非表示*/
@media screen and (max-width: 768px) {
  .pagination a .hover-text {
    display: none;
  }
}
.top {
  height: 100vh;
  display: flex;
}

.topText {
  margin-top: 25%;
  margin-left: 5%;
  font-family: "Miltonian Tattoo", serif;
}
.topText__title {
  font-size: 128px;
}
.topText__rose {
  font-size: 40px;
  font-weight: bold;
  padding-left: 5rem;
  margin-top: 50px;
}

/*ほのかに光りながら出現*/
.glowAnime p {
  opacity: 0;
}

.glowAnime span {
  opacity: 0;
}

/*アニメーションで透過を0から1に変化させtext-shadowをつける*/
.glowAnime.glow span {
  -webkit-animation: glow_anime_on 1.5s ease-out forwards;
          animation: glow_anime_on 1.5s ease-out forwards;
}

@-webkit-keyframes glow_anime_on {
  0% {
    opacity: 0;
    text-shadow: 0 0 0 #fffff9, 0 0 0 #fffff9;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 2px blue, 0 0 0 #fffff9;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0 #fffff9, 0 0 0 #fffff9;
  }
}

@keyframes glow_anime_on {
  0% {
    opacity: 0;
    text-shadow: 0 0 0 #fffff9, 0 0 0 #fffff9;
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 2px blue, 0 0 0 #fffff9;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0 #fffff9, 0 0 0 #fffff9;
  }
}
.profile {
  height: auto;
  margin: 0 auto;
}

.chara {
  font-size: 20px;
  max-width: 980px;
  margin-top: 40px;
}

.profile-flex {
  display: flex;
}

.huhu {
  margin: 0 auto;
  padding-left: 50px;
}

.history-flex {
  display: flex;
}

.history-grid {
  max-width: 980px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(465px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.test-flex {
  max-width: 465px;
  margin: 40px 0 80px 50px;
}

.history-space {
  padding: 1rem 0 0 1rem;
}

dd {
  padding-left: 2rem;
}

.test {
  margin-top: 1rem;
  padding-left: 2rem;
  list-style-type: disc;
}

.opa {
  background-image: linear-gradient(179.4deg, rgba(230, 249, 255, 0.1) 5%, rgba(204, 204, 255, 0.2) 95%);
  border-radius: 20px;
  padding: 20px;
}

@media (max-width: 1030px) {
  .history-flex {
    display: block;
  }
  .test-flex {
    margin-left: 0;
  }
  .opa {
    max-width: 700px;
  }
  .huhu {
    display: none;
  }
}
.skill-flex {
  width: 100%;
  display: flex;
}

.check__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  padding: 40px;
}

.flip {
  padding: 50px;
  width: 343px;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  text-align: center;
}

/* 回転Y軸
   ----------------------------- */
.flipY a { /*テキストの基点となる位置を定義*/
  position: relative;
  display: block;
}

.flipY img {
  transition: all 0.35s ease; /*移り変わる速さを変更したい場合はこの数値を変更*/
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; /*三次元になった際に裏面を可視化させない*/
}

.flip a:hover img { /*hoverした時の変化*/
  transform: rotateY(-180deg);
  opacity: 0;
}

.flipY div.cap {
  /*ここからエリアの絶対配置の指定*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*ここまでエリアの絶対配置の指定*/
  transition: all 0.35s ease; /*移り変わる速さを変更したい場合はこの数値を変更*/
  transform: rotateY(90deg); /*横軸に回転*/
  transform-origin: 50% 0%; /*回転する基点*/
  opacity: 0;
  background: #fbfaf5; /*背景色*/
  border-radius: 20px;
  padding: 20px;
  color: #333333; /*テキストの色を変えたい場合はここを修正*/
}

.flipY a:hover div.cap { /*hoverした時の変化*/
  transform: rotateY(0); /*横軸に回転*/
  opacity: 1;
  transition-delay: 0.15s; /*移り変わる速さを変更したい場合はこの数値を変更*/
}

/*裏の中身の設定*/
h4 {
  font-size: 24px;
  margin: 10px 0;
}

.before {
  margin: 1rem 1rem 1.5rem 1rem;
}

.after {
  margin: 1rem 0;
}

.works__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.works__site {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 80px;
  margin-top: 40px;
}
.works__site__img {
  text-align: center;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 30px;
  height: 500px;
}
.works__site__img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.works__design {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 80px;
  margin-top: 40px;
}
.works__design__img {
  text-align: center;
  margin-bottom: 30px;
  height: 500px;
}
.works__design__img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}
.works__app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 80px;
  margin-top: 40px;
}
.works__app__img {
  text-align: center;
  margin-bottom: 30px;
  height: 500px;
}
.works__app__img img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.btn {
  margin-top: 2rem;
}

.btn,
a.btn,
button.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  color: #333333;
}

a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;
  background: #fff;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  content: "";
  transition: all 0.3s ease;
  border: 2px solid #333333;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

a.btn-border-shadow--color {
  border-radius: 0;
  background: rgb(204, 204, 255);
}

a.btn-border-shadow--color:before {
  border-radius: 0;
}

footer {
  background-image: url(../../images/blueroseline.gif);
  background-repeat: repeat-x;
}

.copy {
  margin-top: 100px;
  padding: 50px 0 10px;
  text-align: center;
  font-family: "Miltonian Tattoo", serif;
  font-size: 20px;
}

.thanks {
  text-align: center;
  margin-bottom: 10px;
  color: #6600cc;
}
/*# sourceMappingURL=style.css.map */