@use "variables"as v;

//共通設定
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	/*ユーザーが指定しているブラウザの文字サイズを正しく反映させる*/
}


body {
	color: v.$c-font;
	background-image: linear-gradient(-20deg, #ddd6f3 0%,rgba(251,218,222,0.5) 100%, rgba(251,218,222,0.5) 100%);
	font-family: v.$ff-normal;
	font-size: 16px;
}


img {
	max-width: 100%;
	vertical-align: bottom;
}

a {
	color: v.$c-font;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}


//セクションタイトル設定
.title {
	margin-top: 100px;
	position: relative;
	padding-left: 40px;
	font-size: 48px;
	padding-top:20px;
	margin-bottom: 50px;
}

.title span {
	position: relative;
	z-index: 0;
}

.title::before {
	/*英字テキスト*/
	content: attr(data-en);
	/*データ属性読み込み*/
	position: absolute;
	transform: rotate(-10deg);
	/*斜めに傾ける*/
	top: 0;
	left: 0;
	color:aqua;
	font-size: 60px;
	font-weight: 400;
	font-family: v.$ff-cursive
}
//ここまでセクションタイトル設定

//リンク先セクションタイトル設定
.workstitle {
	margin-top: 50px;
	position: relative;
	padding-left: 40px;
	font-size: 48px;
	padding-top:20px;
	margin-bottom: 50px;
}

.workstitle span {
	position: relative;
	z-index: 0;
}

.workstitle::before {
	/*英字テキスト*/
	content: attr(data-en);
	/*データ属性読み込み*/
	position: absolute;
	transform: rotate(-10deg);
	/*斜めに傾ける*/
	top: 0;
	left: 0;
	color:aqua;
	font-size: 60px;
	font-weight: 400;
	font-family: v.$ff-cursive
}
//ここまでリンク先セクションタイトル設定

h3 {
	font-size: 24px;
	text-align: left;
}



.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.go-top img {
	position: fixed;
	right: 20px;
	bottom: 30px;
	width: 70px;
	height: auto;
}



@media (max-width: 768px) {}
