@use "variables"as v;

.profile {
    height: auto;
    margin: 0 auto;

    &__opa {
        background-color: #fff9ff;
        border-radius: 20px;
        padding: 20px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
        gap: 2rem;
        margin-top: 2rem;
        padding: 0 10px;
    }

    &__name {
        margin-bottom: 1rem;
    }

    &__theme {
        &__photo {
            margin: 0 auto;
            padding-top: 2rem;

        }
    }
}

.history {
    &__content {
        margin-top: 1rem;
    }
}


@media (max-width: 768px) {
    .profile {
        &__grid {
            gap: 10px
        }
    }


    .opa {
        max-width: 700px;
    }

    .huhu {
        display: none;
    }
}