@use "variables"as v;

.profile {
    height: auto;
    margin: 0 auto;

    &__opa {
        background-color: #fff9ff;
        border-radius: 20px;
        padding: 20px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 2rem;
        margin-top: 2rem;
        padding: 0 10px;
    }

    &__name {
        margin-bottom: 1rem;
    }
    &__theme {
        &__photo {
            margin: 0 auto;
           
        }
    }
}

.history {
    &__content {
        margin-bottom: 1rem;
    }
    &__space dd {
        padding-left: 2rem;
    }
}

@media (max-width: 1030px) {
    .profile{
        &__grid{
            gap:10px
        }
    }
    .history ol{
        font-size: 12px;
    }
    .history dl {
        font-size: 12px;
    }
    .history-flex {
        display: block;
    }

    .test-flex {
        margin-left: 0;
    }

    .opa {
        max-width: 700px;
    }

    .huhu {
        display: none;
    }
}