@use "variables"as v;

.profile {
    height: auto;
    margin: 0 auto;
}

.chara {
    font-size: 20px;
    max-width: 980px;
    margin-top: 40px;
}

.profile-flex {
    display: flex;
}

.huhu {
    margin: 0 auto;
    padding-left: 50px;
}

.history-flex {
    display: flex;
}

.history-grid {
    max-width: 980px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(465px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.test-flex {
    max-width: 465px;
    margin: 40px 0 80px 50px;
}

.history-space {
    padding: 1rem 0 0 1rem;
}

dd {
    padding-left: 2rem;
}

.test {
    margin-top: 1rem;
    padding-left: 2rem;
    list-style-type: disc;
}

.opa {
  
    background-image: linear-gradient( 179.4deg,  rgba(230,249,255,0.1) 5%, rgba(204,204,255,0.2) 95% );
    border-radius: 20px;
    padding: 20px;
    
}


@media (max-width: 1030px) {
    .history-flex {
        display: block;
    }
    .test-flex {
        margin-left: 0;
    }
    .opa {
        max-width: 700px;
    }
    .huhu {
        display: none;
    }
}