@use "variables"as v;

//本体
.works {
  &__top {
    margin-top: 2rem;
  }

  &__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  &__site {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    gap: 40px 80px;
    margin-top: 40px;


    &__img {
      text-align: center;
      object-fit: contain;
      height: 450px;

      & img {

        object-fit: contain;
        height: 100%;
      }
    }
  }

  &__design {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    gap: 80px;
    margin-top: 40px;


    &__img {
      text-align: center;
      margin-bottom: 30px;
      height: 500px;

      & img {

        object-fit: contain;
        height: 100%;
      }
    }
  }


  &__app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    gap: 80px;
    margin-top: 40px;


    &__img {
      text-align: center;
      margin-bottom: 30px;
      height: 500px;

      & img {

        object-fit: contain;
        height: 100%;
      }
    }
  }
}

.app {
  &__content {
    &__btn a {
      background: #eee;
      border-radius: 3px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      max-width: 220px;
      padding: 10px 25px;
      color: #313131;
      transition: 0.3s ease-in-out;
      font-weight: 600;
      box-shadow: 5px 5px 0 #6bb6ff;
    }

    &__btn a:hover {
      background-color: #b3d9ff;
      box-shadow: 0 0 0;
    }
  }

}








//再生ボタン
.modaal-video .modaal-inner-wrapper {
  padding: 100px;
}




@media (max-width: 768px) {}

//リンク先
.work {
 
  &__flex{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
    gap: 80px;
    margin-top: 40px;
  }
 
  &__title{
    font-size: 2rem;
  }


}


.work__breadcrumb *, .work__breadcrumb *:after, .work__breadcrumb *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.work__breadcrumb {
	overflow: hidden;
	width: 100%;
	margin: 1rem auto;
	padding: 0;
	list-style: none;
}
.work__breadcrumb li {
	display: inline-block;
	margin: 0 1rem 0.5rem 0;
}
.work__breadcrumb a {
	position: relative;
	display: inline-block;
	height: 48px;
	margin: 0;
	padding: 0.7rem 1rem 0.7rem 2rem;
	text-decoration: none;
	color: v.$c-font;
	background-image: linear-gradient(to right, #ffffff, #26C6DA);
	-webkit-transition:all 0.3s ease;
	transition: all 0.3s ease;
}
.work__breadcrumb li:first-child a {
	padding-left: 1rem;
	border-radius: 5px 0 0 5px;
}
.work__breadcrumb a:hover {
	background: #ffffff;
}
.work__breadcrumb a::after,
.work__breadcrumb a::before {
	position: absolute;
	top: 50%;
	right: -0.9rem;
	margin-top: -1.5rem;
	content: '';
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
	border-left: 1rem solid;
	-webkit-transition:all 0.3s ease;
	transition: all 0.3s ease;
}
.work__breadcrumb a::after {
	z-index: 2;
	border-left-color: #26C6DA;
}
.work__breadcrumb a::before {
	z-index: 1;
	right: -1rem;
	border-left-color: #00ACC1;
}
.work__breadcrumb a:hover::after {
	border-left-color: #ffffff;
}
.work__breadcrumb li:last-child a {
	cursor: default;
	pointer-events: none;
	color: v.$c-font;
	background: transparent !important;
	font-weight: bold;
}
.work__breadcrumb li:last-child a:hover {
	background: none;
}
.work__breadcrumb li:last-child a::before,
.work__breadcrumb li:last-child a::after {
	content: normal;
}